@import "tailwindcss";

@import 'https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap';

body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    // padding: 0px 40px 0px 40px;
    background-color: #ceccd1;
}